@import '../../../theme';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;

  .img {
    height: 32px;
  }
}

.nav-link {
  color: white;
  margin-right: 8px;

  &:hover {
    color: darkgray;
    background: dimgray;
    border-radius: 2px;
  }
}

.active {
  background: dimgray;
  border-radius: 2px;
}

/* nav {
  @element-margin: 8px;

  background: @color-main;
  display: flex;
  justify-content: flex-start;
  a {
    margin: @element-margin 0 @element-margin @element-margin;
    padding: 4px 12px;
    color: white;
    border-radius: 16px;
    font-weight: bold;

    &:hover {
      background: #6985b3;
    }
  }
}

.link-active {
  background: white;
  color: @color-main !important;
}
*/
