<div class="jumbotron">
  <h3>Menus</h3>
  <div>Number of menus: {{ menus.length }}</div>
  <div>Total number of meals: {{ totalMealsCount }}</div>
</div>

<div class="actions">
  <app-selector-summary [selector]="selector"></app-selector-summary>
  <div class="float-right" *ngIf="selector.isSelectedOne()">
    <button type="button" class="btn btn-secondary" [disabled]="true">Modify menu</button>
    <button type="button" class="btn btn-primary" [disabled]="true">Delete menu</button>
  </div>
  <div class="float-right" *ngIf="selector.isSelectedMany()">
    <button type="button" class="btn btn-primary" [disabled]="true">Delete menus</button>
  </div>
  <div class="float-right" *ngIf="!selector.isSelectedAny()">
    <button type="button" class="btn btn-primary" routerLink="/main/menu/create">Create new menu</button>
  </div>
</div>

<!-- TODO: Search bar -->

<table class="table table-outer-border table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" class="check-box-col">
        <input type="checkbox" [ngModel]="selector.isSelectedAll()" (change)="selector.onChangeAll($event)">
      </th>
      <th scope="col" class="index-col">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="foods-col"><span class="float-right">Foods</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menu of menus; let index = index" routerLink="/main/menu/details/{{ menu._id }}" class="clickable">
      <td class="check-box-col" (click)="$event.stopPropagation()">
        <input type="checkbox" [(ngModel)]="selector.getItem(index).isSelected">
      </td>
      <td class="index-col">{{ index+1 }}</td>
      <td>{{ menu.name }}</td>
      <td class="foods-col"><span class="float-right">{{ menu.foods.length }}</span></td>
    </tr>
  </tbody>
</table>
