<div class="jumbotron">
  <h3>{{ menu.name }}</h3>
  <span>Foods number: {{ menu.foods.length }}</span>
</div>

<div class="actions float-right" *ngIf="selector.isSelectedOne()">
  <button type="button" class="btn btn-secondary" disabled="true">Modify meal</button>
  <button type="button" class="btn btn-primary" disabled="true">Delete meal</button>
</div>
<div class="actions float-right" *ngIf="!selector.isSelectedOne() && selector.isSelectedAny()">
  <button type="button" class="btn btn-primary" disabled="true">Delete meals</button>
</div>
<div class="actions float-right" *ngIf="!selector.isSelectedAny()">
  <button type="button" class="btn btn-secondary" disabled="true">Modify menu</button>
  <button type="button" class="btn btn-secondary" disabled="true">Delete menu</button>
  <button type="button" class="btn btn-primary" disabled="true">Add meal</button>
</div>

<!-- TODO: Search bar -->

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col" class="check-box-col">
        <input type="checkbox" [ngModel]="selector.isSelectedAll()" (change)="selector.onChangeAll($event)">
      </th>
      <th scope="col" class="index-col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col" class="addition-col">Additions</th>
      <th scope="col" class="price-col"><span class="float-right">Price</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of menu.foods; let index = index"
        class="clickable"
        routerLink="/main/menu/{{ menu._id }}/food/details/{{ food._id }}">
      <th scope="row" class="check-box-col" (click)="$event.stopPropagation()">
        <input type="checkbox" [(ngModel)]="selector.getItem(index).isSelected">
      </th>
      <th class="index-col">{{ index + 1 }}</th>
      <th>{{ food.name | shortener:40 }}</th>
      <th>{{ food.description | shortener:80 }}</th>
      <th class="addition-col">{{ food.additions.length }}</th>
      <th class="price-col"><span class="float-right">{{ food.price | currency }}</span></th>
    </tr>
  </tbody>
</table>
