<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h3>{{ menu.name }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <small>Foods</small>
      <div>{{ menu.foods.length }}</div>
    </div>
  </div>
</div>

<div class="actions">
  <app-selector-summary [selector]="selector"></app-selector-summary>
  <div class="float-right" *ngIf="selector.isSelectedAny()">
    <button type="button" class="btn btn-primary" [disabled]="true">Delete meals</button>
  </div>
  <div class="float-right" *ngIf="!selector.isSelectedAny()">
    <button type="button" class="btn btn-secondary" [disabled]="true">Modify menu</button>
    <button type="button" class="btn btn-secondary" [disabled]="true">Delete menu</button>
    <button type="button" class="btn btn-primary" routerLink="/main/menu/{{ menu._id }}/food/create">Add meal</button>
  </div>
</div>

<!-- TODO: Search bar -->

<table class="table table-outer-border table-hover" *ngIf="menu.foods.length">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="check-box-col">
        <input type="checkbox" [ngModel]="selector.isSelectedAll()" (change)="selector.onChangeAll($event)">
      </th>
      <th scope="col" class="index-col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col" class="addition-col">Additions</th>
      <th scope="col" class="price-col"><span class="float-right">Price</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of menu.foods; let index = index"
        class="clickable"
        routerLink="/main/menu/{{ menu._id }}/food/details/{{ food._id }}">
      <td class="check-box-col" (click)="$event.stopPropagation()">
        <input type="checkbox" [(ngModel)]="selector.getItem(index).isSelected">
      </td>
      <td class="index-col">{{ index + 1 }}</td>
      <td>{{ food.name | shortener:40 }}</td>
      <td>{{ food.description | shortener:80 }}</td>
      <td class="addition-col">{{ food.additions.length }}</td>
      <td class="price-col"><span class="float-right">{{ food.price | currency }}</span></td>
    </tr>
  </tbody>
</table>
