<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Worker created</h5>
    <button type="button" style="float: right " class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-2">Email:</div>
      <div class="col-10">{{ email }}</div>
    </div>
    <div class="row">
      <div class="col-2">Password:</div>
      <div class="col-10">{{ password }}</div>
    </div>
    <div class="alert alert-warning"><b>Warning!</b> Save or print this information as it <b>cannot</b> be retrieved later! </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="saveAsText()">Save as text file</button>
  </div>
</div>
