.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  min-height: 2.4rem ;
  button, input, a {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@media (min-width: 576px) {
  .actions {
    margin-bottom: 2rem;
  }
}
