.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button, input, a {
    &:not(:last-child) {
      margin-right: 1rem;
    }
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .actions {
    button, input {
      margin-bottom: 2rem;
    }
  }
}
