.card-body {
  small {
    text-transform: uppercase;
  }

  .col {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .row:last-child {
    margin-bottom: -1rem;
  }
}

.card {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .card {
    margin-bottom: 2rem;
  }
}
