@defaultWidthNarrow: 10px;

.card > table {
  margin-bottom: 0;
}

.check-box-col {
  width: @defaultWidthNarrow;
  cursor: default;
}

.index-col {
  width: @defaultWidthNarrow;
}

.price-col {
  width: @defaultWidthNarrow;
}
