<div class="jumbotron">
  <h2>{{ selectedDay.date | date }}</h2>
</div>

<div class="row">
  <div class="col">
    <div class="actions float-right">
      <button class="btn btn-primary">Add</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        People working
      </div>
      <table class="table table-striped table-hover"
             *ngIf="selectedDay.details && selectedDay.details.workersPresent.length; else noWorkersPresentData">
        <thead>
        <tr>
          <th scope="col">Person</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let worker of selectedDay.details.workersPresent">
          <th>{{ worker.person.firstName }} {{ worker.person.lastName }}</th>
          <th>{{ worker.workHours.startHour | date:'HH:mm' }}</th>
          <th>{{ worker.workHours.endHour | date:'HH:mm' }}</th>
        </tr>
        </tbody>
      </table>
      <ng-template #noWorkersPresentData>
        <div class="card-body font-italic">
          No workers present for this day
        </div>
      </ng-template>
    </div>
  </div>
</div>
