<div class="jumbotron">
  <label>Name</label>
  <input id="name" name="name" class="form-control" required
         [(ngModel)]="model.name" #name="ngModel" placeholder="Enter menu name">
  <div>
    <small [style.visibility]="name.invalid && (name.dirty || name.touched) ? 'visible' : 'hidden'"
           class="error">Menu name is required.</small>
  </div>
</div>

<div class="actions">
  <app-selector-summary [selector]="selector"></app-selector-summary>
  <div class="float-right">
    <button type="button" class="btn btn-secondary" (click)="addMeal()">Add meal</button>
    <button type="button" class="btn btn-primary" (click)="createNewMenu()"
            [disabled]="name.invalid || !(name.dirty || name.touched)">Create menu</button>
  </div>
</div>

<table class="table table-striped table-bordered" *ngIf="model.foods.length">
  <thead>
    <tr>
      <th scope="col" class="check-box-col">
        <input type="checkbox" [ngModel]="selector.isSelectedAll()" (change)="selector.onChangeAll($event)">
      </th>
      <th scope="col" class="index-col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col" class="addition-col">Additions</th>
      <th scope="col" class="price-col"><span class="float-right">Price</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meal of model.foods; let index = index">
      <th scope="row" class="check-box-col" (click)="$event.stopPropagation()">
        <input type="checkbox" [(ngModel)]="selector.getItem(index).isSelected">
      </th>
      <th class="index-col">{{ index + 1 }}</th>
      <th>{{ meal.name | shortener:40 }}</th>
      <th>{{ meal.description | shortener:80 }}</th>
      <th>{{ meal.additions.length }}</th>
      <th class="price-col"><span class="float-right">{{ meal.price | currency }}</span></th>
    </tr>
  </tbody>
</table>
