<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <h3>Order</h3>
      <div>Ordered by: {{ order.user.firstName }} {{ order.user.lastName}}</div>
      <div>Created on: {{ order.orderDate | dateTime }}</div>
      <div>Items: {{ order.items.length }}</div>
      <div>State: <span class="badge badge-primary">{{ order.state }}</span></div>
    </div>
    <div class="col-sm-6">
      <div class="float-right">
        <div class="float-right">Total price:</div>
        <h3>{{ order.totalPrice | currency }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <button type="button" class="btn btn-secondary" (click)="contact()">Contact</button>
      <div *ngIf="order.state === 'SAVED'">
        <button type="button" class="btn btn-secondary">Reject</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Ordered meals</h5>
      </div>
      <div class="card-body">
        <div class="list-group list-group-flush">
          <div class="list-group-item" *ngFor="let item of order.items; let index = index">
            <div class="d-flex justify-content-between">
              <h5 class="mb-1">{{ index + 1 }}. {{ item.food.name }}</h5>
              <small>{{ item.food.price | currency }}</small>
            </div>
            <p class="mb-1">
              <small>Selected additions: {{ item.additions | additionsFormatter }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- TODO: history of past order states -->
<!--<div class="row col">-->
  <!--<div class="card">-->
    <!--<h5 class="card-header">State history</h5>-->
    <!--<div class="card-body"></div>-->
  <!--</div>-->
<!--</div>-->
