<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <h3>Order</h3>
      <div>Ordered by: {{ order.user.firstName }} {{ order.user.lastName}}</div>
      <div>Created on: {{ order.createdDate | date:'dd.MM.yyyy HH:mm' }}</div>
      <div>Items: {{ order.items.length }}</div>
      <div>State: <app-order-state-badge [state]="order.currentState.state"></app-order-state-badge></div>
    </div>
    <div class="col-sm-6">
      <div class="float-right">
        <div class="float-right">Total price:</div>
        <h3>{{ order.totalPrice | currency }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="actions float-right">
      <button type="button" class="btn btn-secondary" (click)="contact()">Contact</button>
      <div *ngIf="order.currentState.state === 'SAVED'">
        <button type="button" class="btn btn-secondary">Reject</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Ordered meals</h5>
      </div>
      <div class="card-body">
        <div class="list-group list-group-flush">
          <div class="list-group-item" *ngFor="let item of order.items; let index = index">
            <div class="d-flex justify-content-between">
              <h5 class="mb-1">{{ index + 1 }}. {{ item.food.name }}</h5>
              <small>{{ item.food.price | currency }}</small>
            </div>
            <p class="mb-1">
              <small>Selected additions: {{ item.additions | additionsFormatter }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row col">
  <div class="card">
    <h5 class="card-header">Comment
      <a class="alert alert-link link" (click)="changeCommentVisibility()" href="javascript:void(0)">
        {{ (expanded ? 'Hide' : 'Show') | uppercase }}
      </a>
    </h5>
    <div class="card-body" *ngIf="expanded">
      <div *ngIf="hasComment; else noComment">{{ order.comment }}</div>
      <ng-template #noComment>
        <div class="font-italic">No comment provided</div>
      </ng-template>
    </div>
  </div>
</div>

<div class="row col">
  <div class="card">
    <h5 class="card-header">Order history</h5>
    <div class="card-body">
      <app-order-history [history]="order.history"></app-order-history>
    </div>
  </div>
</div>
