.card {
  width: 100%;
}

.col {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.jumbotron-small {
  padding: 4px;
}

p.mb-1 {
  margin-left: 20px;
}

.list-group-item {
  padding: 0;
}

.card-title {
  margin: 0;
}

.link {
  font-size: initial;
  color: #007bff;
}

.alert {
  padding: 0;
  margin-left: 1.25rem;
}
