<div class="jumbotron">
  <h3>{{ headerTitle }}</h3>
  <div>Total orders: {{ orders.length }}</div>
  <div>New orders: {{ newOrdersCount }}</div>
  <!-- TODO: add orders in preparation count (PAID || SENT_TO_PREPARATION || IN_PREPARATION) -->
  <div>Ready orders: {{ readyOrdersCount }}</div>
</div>

<div class="actions">
  <app-selector-summary [selector]="selector"></app-selector-summary>
  <div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" (click)="refreshOrders()">Refresh</button>
    </div>
    <div class="float-right" *ngIf="containsReady">
      <button type="button" class="btn btn-secondary" (click)="serveOrders()">Serve orders</button>
    </div>
    <div class="float-right" *ngIf="containsSaved">
      <button type="button" class="btn btn-secondary" (click)="confirmOrders()">Confirm orders</button>
      <button type="button" class="btn btn-secondary" (click)="rejectOrders()">Reject orders</button>
    </div>
  </div>
</div>

<!-- TODO: add filtering -->
<table class="table table-outer-border table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" class="index-col">#</th>
      <th scope="col">User</th>
      <!-- TODO: show created and finished dates once those can be retrieved from server -->
      <!--<th scope="col">Order date</th>-->
      <th scope="col">Items</th>
      <th scope="col">State</th>
      <th scope="col" class="price-col"><span class="float-right">Price</span></th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let order of orders; let index = index" routerLink="/main/order/details/{{ order._id }}">
      <td>{{ index + 1 }}</td>
      <td>{{ order.user.firstName + ' ' + order.user.lastName }}</td>
      <!--<th>{{ order.date }}</th>-->
      <td>{{ order.items.length }}</td>
      <td>{{ order.currentState.state }}</td>
      <td><span class="float-right">{{ order.totalPrice | currency }}</span></td>
    </tr>
  </tbody>
</table>
