<div class="row">
  <div class="col">
    <button class="btn btn-primary btn-calendar btn-block" (click)="setPreviousMonth()" [disabled]="canSetPreviousMonth()">
      Previous
    </button>
  </div>
  <div class="col">
    <div class="btn-group d-flex justify-content-center">
      <div class="btn-group" ngbDropdown role="group">
        <button class="btn btn-outline-primary btn-calendar-wide" ngbDropdownToggle>
          {{ monthNames[date.getMonth()] }}
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item dropdown" *ngFor="let month of monthNames; let index = index"
                  (click)="setMonth(index)">{{ month }}</button>
        </div>
      </div>
      <div class="btn-group" ngbDropdown role="group">
        <button class="btn btn-outline-primary btn-dropdown-year" ngbDropdownToggle>{{ date.getFullYear() }}</button>
        <div class="dropdown-menu menu-dropdown-year" ngbDropdownMenu>
          <button class="dropdown-item dropdown" *ngFor="let year of years" (click)="setYear(year)">
            {{ year }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-primary btn-calendar btn-block float-right" (click)="setNextMonth()" [disabled]="canSetNextMonth()">Next</button>
  </div>
</div>
