/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import 'less/table';

html, body {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  button, input {
    margin-left: 20px;
  }
}

.error {
  color: #ff0a18;
  font-weight: 500;
}

.jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
}

.dropdown-menu {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
}

.sticky-top {
  z-index: 98;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
