<div class="d-flex">
  <div class="calendar-header" *ngFor="let dayName of dayNames">{{ dayName }}</div>
</div>
<div class="d-flex" *ngFor="let week of month.weeks">
  <div class="cell" [class.selected]="isSelected(day)" (click)="changeSelection(day)"
       *ngFor="let day of week.days; let index = index">
    <div class="date">{{ day.date.getDate() }}</div>
    <div class="cell-data">
      <div class="working-people-label"><span class="badge badge-success">{{ daysData[index].people.length }}</span> people working</div>
    </div>
  </div>
</div>
