<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h3>Supplies requests</h3>
    </div>
  </div>
  <ng-container *ngIf="ready; else notReady">
    <div class="row">
      <div class="col col-12 col-sm-4 col-md-3">
        <small>Total requests</small>
        <div>{{ response.totalCount }}</div>
      </div>
      <div class="col col-12 col-sm-8 col-md-9">
        <small>Filtered requests</small>
        <div>{{ response.itemsCount }}</div>
      </div>
    </div>
  </ng-container>
  <ng-template #notReady>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>

<div class="row">
  <div class="col">
    <div class="actions float-right">
      <a class="btn btn-primary" routerLink="/main/supply/create">Create request</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search" [(ngModel)]="query" (keypress)="search($event)">
      <div class="input-group-append input-group-prepend">
        <button class="btn btn-outline-danger" *ngIf="query" (click)="clear()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-primary" (click)="search(null)">
          <i class="fas fa-search"></i>
          <span>Search</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-auto">
    <div class="input-group">
      <button class="btn btn-outline-secondary btn-block" (click)="switchFilters()">
        <i class="fas fa-filter"></i>
        <span>Filter</span>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="showFilters">
  <div class="jumbotron filter">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-select-combo [items]="states" [label]="'States'"
                          (selectionChange)="statesComboSelectionChange($event)"></app-select-combo>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <label for="amountFrom">
          <small>Minimum price</small>
        </label>
        <input class="form-control" type="number" id="amountFrom" [(ngModel)]="filter.amountFrom">
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <label for="amountTo">
          <small>Maximum price</small>
        </label>
        <input class="form-control" type="number" id="amountTo" [(ngModel)]="filter.amountTo">
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-select-combo [items]="currencies" [label]="'Currencies'"
                          (selectionChange)="currenciesComboSelectionChange($event)"></app-select-combo>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <div class="row">
          <div class="col-auto">
            <button class="btn btn-primary" (click)="applyFilter()">Show</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-secondary" (click)="clearFilter()">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-supply-list-table [items]="response?.items" [maxPages]="maxPages" [page]="page" (pageChange)="onPageChange($event)"></app-supply-list-table>
