<div class="jumbotron">
  <div class="row">
    <div class="col-sm-10">
      <h2>{{ food.name }}</h2>
    </div>
    <div class="col-sm-2 float-right">
      <h3>Price: {{ food.price | currency }}</h3>
    </div>
  </div>
  <span>{{ food.description }}</span>
  <div>Additions: {{ food.additions.length }}</div>
</div>

<div class="actions">
  <app-selector-summary [selector]="selector"></app-selector-summary>
  <div class="float-right" *ngIf="selector.isSelectedOne()">
    <button type="button" class="btn btn-secondary" [disabled]="true">Modify addition</button>
    <button type="button" class="btn btn-primary" [disabled]="true">Delete additions</button>
  </div>
  <div class="float-right" *ngIf="selector.isSelectedMany()">
    <button type="button" class="btn btn-primary" [disabled]="true">Delete addition</button>
  </div>
  <div class="float-right" *ngIf="!selector.isSelectedAny()">
    <button type="button" class="btn btn-secondary" [disabled]="true">Add addition</button>
    <button type="button" class="btn btn-secondary" [disabled]="true">Delete meal</button>
    <button type="button" class="btn btn-primary" (click)="modifyFood()">Edit meal</button>
  </div>
</div>

<table class="table table-outer-border table-striped table-hover" *ngIf="food.additions.length">
  <thead>
    <tr>
      <th scope="col" class="check-box-col">
        <input type="checkbox" [ngModel]="selector.isSelectedAll()" (change)="selector.onChangeAll($event)">
      </th>
      <th scope="col" class="index-col">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="price-col"><span class="float-right">Price</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let addition of food.additions; let index = index">
      <td class="check-box-col">
        <input type="checkbox" [(ngModel)]="selector.getItem(index).isSelected">
      </td>
      <td class="index-col">{{ index }}</td>
      <td>{{ addition.name }}</td>
      <td class="price-col"><span class="float-right">{{ addition.price | currency }}</span></td>
    </tr>
  </tbody>
</table>
