<app-employees-components-switcher></app-employees-components-switcher>

<div class="jumbotron">
  <h3>All workers</h3>
  <div>Workers currently employed: {{ workers.length }}</div>
</div>

<div class="actions float-right">
  <button class="btn btn-primary" (click)="createWorker()">Add new worker</button>
</div>

<table class="table table-outer-border table-hover">
  <thead class="thead-light">
    <tr>
      <th class="index-col">#</th>
      <th>Person</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let worker of workers; let index = index" (click)="showDetails(worker.id)">
      <td class="index-col">{{ index + 1 }}</td>
      <td>{{ worker.person.firstName }} {{ worker.person.lastName }}</td>
      <td>{{ worker.person.email }}</td>
    </tr>
  </tbody>
</table>
