<app-employees-components-switcher></app-employees-components-switcher>

<div class="jumbotron">
  <div class="row">
    <div class="col">
      <h3>Workers</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <small>All</small>
      <div>{{ workers.length }}</div>
    </div>
  </div>
</div>

<div class="actions float-right">
  <button class="btn btn-primary" (click)="createWorker()">Add new worker</button>
</div>

<table class="table table-outer-border table-hover">
  <thead class="thead-light">
    <tr>
      <th class="index-col">#</th>
      <th>Person</th>
      <th class="d-none d-sm-table-cell">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let worker of workers; let index = index" (click)="showDetails(worker.id)">
      <td class="index-col">{{ index + 1 }}</td>
      <td>{{ worker.person.firstName }} {{ worker.person.lastName }}</td>
      <td class="d-none d-sm-table-cell">{{ worker.person.email }}</td>
    </tr>
  </tbody>
</table>
