<app-employees-components-switcher></app-employees-components-switcher>

<div class="jumbotron">
  <h3>All workers</h3>
  <div>Workers currently employed: {{ workers.length }}</div>
</div>

<div class="actions float-right">
  <button class="btn btn-primary" [disabled]="true">Add new worker</button>
</div>

<table class="table table-hover table-striped table-outer-border">
  <thead>
    <tr>
      <th class="index-col">#</th>
      <th>Person</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let worker of workers; let index = index">
      <td class="index-col">{{ index + 1 }}</td>
      <td>{{ worker.person.firstName }} {{ worker.person.lastName }}</td>
      <td>{{ worker.person.email }}</td>
    </tr>
  </tbody>
</table>
